.tasks__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.tasks__item {
  position: relative;
  max-width: 450px;
  margin-bottom: 10px;
  padding: 15px;

  font-size: 18px;
  font-weight: 600;

  text-align: center;
  border: 2px dashed #b2d9d0;
  border-radius: 10px;
  background-color: #dff2ef;

  transition: background-color 0.5s;

  &:hover {
    background-color: #2aa5a0;
    cursor: pointer;
    color: #1c2c3c;
  }
}

.tasks__item:last-child {
  margin-bottom: 0;
}

.tasks__item:hover .dropdown-content {
  display: block;
}

.selected {
  opacity: 0.6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 400px;
  top: 0;
  right: -420px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
